/** TOC

    1. general
    2. 
    3. logo
    4. menu
    5. social
    6. search
    7. cart
    8. hamburger
    9. darkmode switcher
    10. offcanvas

    15. minimal header
    16. sticky header

*/

/* 1. general
---------------------------------------------------------------------- */
.header56__section {
    border: 0 solid;
}
.header56__section__container {
    border: 0 solid;
}
.header56__section .header56__part {
    display: flex;
    align-items: center;
}
.header56__part--center {
    justify-content: center;
}
.header56__part--right {
    justify-content: flex-end;
}
.header56__element {
    display: block;
    & + .header56__element {
        margin-left: 8px;
    }
}
.container.stretch--full {
    width: 98%;
    max-width: 100%;
}

.before-header {
    margin: 10px 0 0;
}
.after-header {
    margin: 0 0 10px;
}
.after-header-mobile {
    @include media-min( desktop ) {
        display: none;
    }
}

/* TOPBAR
=======================================*/
.topbar56 .container .row {
    height: 32px;
}

/* MAIN HEADER
=======================================*/
.main_header56 .container {
    padding: 14px 0;
}

/* HEADER BOTTOM
======================================*/
.header_bottom56 .container .row {
    height: 32px;
}

/* HEADER MOBILE
========================================*/
.header_desktop56 {
    @include media( tablet ) {
        display: none;
    }
}
.header_mobile56 {
    border: 0 solid #c0c0c0;
    display: none;
    @include media( tablet ) {
        display: block;
    }
}
.header_mobile56 .container .row,
.header_mobile56__height {
    height: 54px;
}
.header_mobile56 .logo56 img {
    width: auto;
    height: 32px;
}
.header_mobile56--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
}
.header_mobile56__height {
    display: none;
}
@include media( tablet ) {
    .header_mobile56--sticky + .header_mobile56__height {
        display: block;
    }
}

/* 3. logo
---------------------------------------------------------------------- */
.logo56 {
    text-align: center;
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
}
.logo56 .logo-type-image,
.logo56 .fox-logo.logo-type-image {
    line-height: 0;
}
.text-logo {
    display: block;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
}
.slogan {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

/* 4. menu
---------------------------------------------------------------------- */
.mainnav {
    font-family: var(--font-nav);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
        display: block;
    }
    a span {
        // display: block;
        .menu-icon-icon {
            display: inline-block;
            margin-right: 4px;
        }
    }
    ul.menu > li {
        display: block;
        float: left;
        position: relative;
        
        > a {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 0 12px;
            line-height: 40px;
            transition: all .15s ease-out;
        }
    }
    ul.sub-menu {
        display: block;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        background: white;
        width: 180px;
        border: 1px solid #ccc;
        
        display: none;
        
        li {
            border-top: 0 solid;
        }
        
        > li  {
            position: relative;
        }
        
        a {
            color: inherit;
            display: block;
            line-height: 28px;
            padding: 0 12px;
            text-decoration: none;
        }
    }
    li:hover > ul.sub-menu {
        display: block;
    }
    
    // from third level
    ul.sub-menu ul.sub-menu {
        top: 0;
        left: 100%;
    }
}

/* active style
------------------------------ */
.mainnav ul.menu > li > a:after {
    position: absolute;
    left: 10%;
    width: 90%;
    height: 2px;
    display: none;
    content: "";
    z-index: 10;
    transition: all .15s ease-out;
    background: currentColor;
    
    transform: scale(1,0);
    transform-origin: bottom center;
}
.mainnav ul.menu > li:hover > a,
.mainnav ul.menu > li.current-menu-item > a,
.mainnav ul.menu > li.current-menu-ancestor > a {
    &:after {
        transform: scale(1,1);
    }
}

.nav--active-bar-top ul.menu > li > a:after {
    display: block;
    top: 0;
    transform-origin: top center;
}
.nav--active-bar-bottom ul.menu > li > a:after {
    display: block;
    bottom: 0;
}

/* item separator
------------------------------ */
.nav--has-item-sep {
    ul.menu > li + li > a:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        border: 1px solid #aaa;
        border-width: 0 0 0 1px;
        height: 16px;
        margin-top: -8px;
        top: 50%;
    }
}

/* dropdown indicator
------------------------------ */
.mk {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    margin-left: 3px;
    display: block;
}
.nav--dropdown-indicator-angle-down {
    ul.menu > li.menu-item-has-children > a > .mk,
    ul.menu > li.mega > a > .mk {

        /* ic56 */
        font-family: 'icon56' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* chevron small down */
        &:before {
            content: "\e90f";
        }
    }
}
.nav--dropdown-indicator-caret-down {
    ul.menu > li.menu-item-has-children > a > .mk,
    ul.menu > li.mega > a > .mk {
        /* ic56 */
        font-family: 'icon56' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:before {
            content: "\e913";
        }
    }
}
.nav--dropdown-indicator-plus {
    ul.menu > li.menu-item-has-children > a > .mk,
    ul.menu > li.mega > a > .mk  {
        &:before {
            content: "+";
        }
    }
}

/* submenu arrow
------------------------------ */
.mainnav {
    ul.menu > li.menu-item-has-children,
    ul.menu > li.mega {
        position: relative;

        &:before,
        &:after {
            display: none;
            content: "";
            position: absolute;
            bottom: -1px;
            left: 30px;
            z-index: 29999;
            
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid white;
        }
        &:before {
            z-index: 28888;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #ccc;
            bottom: -1px;
            left: 29px;
        }
    }
}
.nav--dropdown-has-arrow {
    ul.menu > li.menu-item-has-children,
    ul.menu > li.mega {
        &:hover {
            &:before,
            &:after {
                display: block;
            }
        }
    }
}

/* shadow level
------------------------------ */
.nav--dropdown-shadow-1 {
    ul.sub-menu {
        box-shadow: 3px 3px 10px rgba(0,0,0,.1);
    }
}
.nav--dropdown-shadow-2 {
    ul.sub-menu {
        box-shadow: 3px 3px 10px rgba(0,0,0,.2);
    }
}
.nav--dropdown-shadow-3 {
    ul.sub-menu {
        box-shadow: 3px 3px 10px rgba(0,0,0,.3);
    }
}

/* dropdown sep
------------------------------ */
.nav--dropdown-has-sep {
    ul.sub-menu li + li {
        border-top-width: 1px;
    }
}

/* -----------------------  mega */
.mainnav li.mega {
    > .sub-menu {
        display: none;
        align-items: stretch;
        padding: 20px 0;
        > li {
            display: block;
            position: relative;
            flex: none;

            &:before {
                content: "";
                top: 0px;
                bottom: 0px;
                border-left: 1px solid;
                position: absolute;
                left: 0;
                display: none;
            }

            // leading item
            > a {
                display: block;
                font-weight: 600;
                background: none !important;
            }
            
            & + li {
                border-top: 0;
                &:before {
                    display: block;
                }
            }
        }
        ul {
            display: block !important;
            position: static !important;
            box-shadow: none !important;
            border: 0;
            margin: 0;
            padding: 1px;
            border-radius: 0;
            background: none;
            
            // disable border for meta items
            > li + li {
                border-top: 0;
            }
        }
    }
    &:hover > .sub-menu {
        display: none;
    }
    &.mega-loaded:hover > .sub-menu {
        display: flex;
    }
}

/* ---------------------------  column system */
.mega.column-2 > .sub-menu {
    width: 360px;
    > li {
        width: 50%;
    }
}
.mega.column-3 > .sub-menu {
    width: 540px;
    > li {
        width: 33.33%;
    }
}
.mega.column-4 > .sub-menu {
    > li {
        width: 25%;
    }
}
.mega.column-5 > .sub-menu {
    > li {
        width: 20%;
    }
}
.mega.mega-full {
    position: relative;
}
.mega.mega-full > .sub-menu {
    width: 100%;
}

/* ------------------------------  mega post */
.mainnav li.mega > .submenu-display-items {
    // no sep between posts
    padding-left: 10px;
    padding-right: 10px;

    > li:before {
        border: 0;
        display: none;
    }
    li, a {
        background: none !important;
    }
    .thumbnail56 {
        margin: 0 0 5px;
    }
    .post-nav-item-title {
        text-transform: inherit;
        font-size: 1.1em;
        line-height: 1.1 !important;
        font-weight: inherit;
        margin: 4px 0 0;
        letter-spacing: 0;
        a {
            line-height: inherit !important;
        }
    }
}

/* 5. social
---------------------------------------------------------------------- */
.fox56-social-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.fox56-social-list {
    li {
        display: block;
        & + li {
            margin-left: 6px;
        }
    }
    a {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 0 solid;
        text-align: center;
        font-size: 18px;
        color: inherit;
        text-decoration: none;
        
        transition: all .15s ease-out;
    }
    i {
        display: block;
    }
    img {
        display: block;
        width: 18px;
    }
}
.fox56-social-list a:hover {
    color: var(--accent-color);
}

/* 6. search
---------------------------------------------------------------------- */
.search-btn {
    display: block;
    color: inherit;
    font-size: 18px;
    cursor: pointer;
    i {
        display: block;
    }
    img {
        width: 32px;
    }
}
.search-wrapper-classic {
    display: none;
    margin: 0 0 6px;
}
.header_mobile56 .search-wrapper-classic{
    margin-top:9px
}
.search-wrapper-modal {
    display: none;
}

.search-wrapper-toggle {
    display: none;
}

/* modal
==================================== */
.search-wrapper-modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999999;
    background: white;
    
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
.search-modal-close-btn {
    position: absolute;
    top: 6%;
    right: 6%;
    z-index: 99;
    display: block;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
.search-wrapper-modal .container {
    display: flex;
    // align-items: center;
    height: 100%;
}

html.in-modal-search56 {
    // overflow: hidden;
    
    .search-wrapper-modal {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

/* ------------------------------       modal search content */
.modal-search-content {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex: none;
    margin-top: 15%;
}
.modal-search-content {
    .s {
        display: block;
        width: 100%;
        font-size: 24px;
        height: 50px;
        line-height: 50px;

        // border: 1px solid transparent;
        // border-width: 0 0 1px;
        
        // background: none;
        
        // line-height: 60px;
        // padding: 0;
        // background: none;

        
        &:focus {
            // background: none;
            // border-bottom-color: transparent;
        }
    }
    .searchform .submit {
        // line-height: 60px;
        font-size: 20px;
        // width: 60px;
        // height: 60px;
        text-align: center;
    }
}
.search-suggestion {
    margin: 40px 0 0;
    h4 {
        margin: 0 0 1em;
        font-size: 0.8em;
        color: #999;
        font-weight: 400;
        display: block;
    }
    nav {
        display: block;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    nav a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    nav li {
        display: inline-block;
        font-size: 1.1em;
    }
    nav li + li:before {
        content: "\B7";
        margin: 0 0.9em;
        opacity: .5;
    }
    
    // animation
    nav li,
    h4 {
        transition: all .5s cubic-bezier(.34, 1.56, .64, 1);
        
        transition-delay: .46s;
        opacity: 0;
        visibility: hidden;
        transform: translate(0,10px);
    }
    h4 {
        transition-delay: 0.25s;
    }
    nav li:first-child {
        transition-delay: .3s;
    }
    nav li:nth-child(2) {
        transition-delay: .35s;
    }
    nav li:nth-child(3) {
        transition-delay: .30s;
    }
    nav li:nth-child(4) {
        transition-delay: .42s;
    }
    nav li:nth-child(5) {
        transition-delay: .44s;
    }
}
.in-modal-search56 {
    .search-suggestion nav li,
    .search-suggestion h4 {
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
    }
}

/* ------------------------------       toggle search */
.header56__search__inner{
    position: relative;
    .search-wrapper-toggle {
        position: absolute;
        top: calc(100% + 5px);
        width: 280px;
        z-index: 99;
    }
}
.search-wrapper-toggle {
    display: none;
    &.shown {
        display: block;
    }
}
.header56__part--right .header56__search__inner .search-wrapper-toggle{ right: -10px;}
.header56__part--center .header56__search__inner .search-wrapper-toggle{ right: -130px;}
.header56__part--left .header56__search__inner .search-wrapper-toggle{ left: -10px;}

/* 7. cart
---------------------------------------------------------------------- */
.header_cart56 {
    color: inherit;
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    &:hover {
        color: inherit;
    }
    display: block;
    img {
        width: 24px;
    }
    i {
        line-height: inherit;
    }
}
.header_cart56 .num {
    position: absolute;
    top: -3px;
    right: -6px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    display: block;
    background: var(--accent-color);
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 0;
}

/* 8. hamburger
---------------------------------------------------------------------- */
.hamburger {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0 solid;
    color: inherit;
    font-size: 18px;
    transition: all .15s ease-out;
    cursor: pointer;
    
    i {
        line-height: inherit;
    }
    .icon-close {
        display: none;
    }
    
    img {
        display: block;
        max-width: 100%;
        width: 100%;
    }
}

/* 9. darkmode
---------------------------------------------------------------------- */
.lamp56 {
    cursor: pointer;
    span {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-weight: 400;
        margin-left: 5px;
    }
}
.lamp56__part {
    height: 36px;
    padding: 0 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 24px;
    }
}
.lamp56__dark {
    display:none;
    background: rgba(255,255,255,.2);
}
.lamp56__light {
    background: rgba(0,0,0,.1);
}
.darkmode {
    .lamp56__light {
        display: none;
    }
    .lamp56__dark {
        display: flex;
    }
}
.lamp56--icon {
    border: 2px solid #d0d0d0;
    background: #d0d0d0;
    padding-right: 14px;
    border-radius: 60px;
    transition: padding 0.1s ease-out;

    .lamp56__part {
        width: 24px;
        height: 24px;
    }
    .lamp56__light {
        background: white;
    }
    .lamp56__dark {
        background: white;
        color: black;
    }
    span {
        display: none;
    }
}
.darkmode .lamp56--icon {
    padding-right: 0;
    padding-left: 14px;
    background: #666;
    border-color: #666;
}

.lamp56--icon_minimal {
    .lamp56__part {
        background: none;
    }
    span {
        display: none;
    }
}

/* 10. offcanvas
---------------------------------------------------------------------- */
.offcanvas56__overlay {
    opacity: 0;
    visibility: hidden;
}
.offcanvas56 {
    display: block;
    position: fixed;
    top: 0; // mobile header height
    left: 0;
    bottom: 0;
    z-index: 99999999;
    background: white;
    padding: 16px;
    width: 320px;
    margin-top: 0; // 1px; // for the header line
    
    transform: translate(-102%,0);
    transition: transform .2s;
    
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    @include media( mobile ) {
        top: 54px;
        width: 100%;
    }
}
.offcanvas56::-webkit-scrollbar {
    display: none;
}
.offcanvas56__overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background: rgba(0,0,0,.5);
    
    visibility: hidden;
    opacity: 0;
    // transition: all .3s ease-out;
    transition: all .25s ease-out;
    display: block;
}
html.on-offcanvas,
html.in-offcanvas-permanent {
    .offcanvas56 {
        transform: translate(0,0);

        box-shadow: 0 0 20px rgba(0, 0, 0, .2);

        @include media( mobile ) {
            box-shadow: none;
            width: 100%;
        }
        // display: block;
    }
    .offcanvas56__overlay {
        // visibility: visible;
        display: block;
        opacity: 1;
        visibility: visible;
        
        @include media( mobile ) {
            display: none;
        }
    }
    
    /*
    // fixed when open the offcanvas menu
    .mobile-header56-outer {
        position: fixed;
    }
    */
    
    .hamburger .icon-close {
        display: block;
    }
    .hamburger .icon-menu {
        display: none;
    }
}

/* offcanvas nav
----------------------------- */
.offcanvasnav56 {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
    }
    a {
        display: block;
        color: inherit;
        text-decoration: none;
        line-height: 46px;
        position: relative;
    }
    ul.sub-menu {
        display: none;
        margin-left: 20px;
        // border-top: 0 solid;
    }
    li {
        border-top: 0 solid;
    }
    ul.sub-menu {
        border: 0;
    }
    ul ul li {
        border: 0; // since v6.7 - we disable lines on submenus
    }

    /* border top problem */
    li + li {
        border-top: 1px solid;
    }

}
.offcanvas56__element + .offcanvas56__element {
    margin-top: 20px;
}

/* -----------------------      dropdown indicator */
.offcanvasnav56 {
    .mk {
        text-decoration: none;
        font-style: normal;
        display: none;

        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 99;
        width: 32px;
        height: 32px;
        font-size: 24px;
        text-align: center;
        line-height: 32px;
        text-align: center;
        // background: #f0f00f; // background just for debug
        
        /* ic56- */
        font-family: 'icon56' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        line-height: 32px;

        // .ic56-chevron-small-down
        &:before {
            content: "\e90f";
        }
    }
    li.menu-item-has-children > a > .mk {
        display: block;
    }
    li.active > a > .mk {
        // .ic56-chevron-small-up;
        &:before {
            content: "\e90d";
        }
    }

    a[href]:not([href^="http"]) .mk
    ,a:not([href]) .mk
    // ,a[href^="#"] .mk
    {
        position: absolute;
              width: 100%;
              text-align: right;
              padding-right: 12px;
      }
}

/* -----------------------      2 columns */
.nav--cols-2 {
    ul.menu {
        display: flex;
        flex-flow: row wrap;
        > li {
            width: 50%;
        }
        > li:nth-child(2) {
            border-top: 0 !important;
        }
    }
}

/* offcanvas with animation
--------------------------------------- */
.offcanvas56--hasanimation {
    .offcanvasnav56 ul.menu > li,
    .offcanvas56__social,
    .offcanvas56__search,
    .offcanvas56__html1,
    .offcanvas56__html2,
    .offcanvas56__html3,
    .offcanvas56__button1,
    .offcanvas56__button2,
    .widget {
        display: block;
        transform: translate(0,20px);
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-out;
    }
}
html.on-offcanvas,
html.in-offcanvas-permanent {
    .offcanvasnav56 ul.menu > li,
    .offcanvas56__social,
    .offcanvas56__search,
    .offcanvas56__html1,
    .offcanvas56__html2,
    .offcanvas56__html3,
    .offcanvas56__button1,
    .offcanvas56__button2,
    .widget {
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
    }
}

/* switcher
-------------------------------- */
.offcanvas56__darkmode-switcher {
    display: inline-block;
}

/* 15. minimal header
---------------------------------------------------------------------- */
.minimal-header {
    height: 40px;
}
.minimal-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}
.minimal-logo {
    display: block;
    margin-left: 20px;
    a {
        outline: 0;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    img {
        display: block;
        height: 24px;
        width: auto;
    }
    .minimal-logo-img-white {
        display: none;
    }
}
@include media( tablet ) {
    .minimal-header-inner {
        justify-content: center;
    }
    .minimal-header .hamburger {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
    }
    .minimal-logo {
        margin-left: 0;
    }
}
@media (min-width:1024px) {
    .body--hero,
    .body--hero.layout-boxed,
    .body--hero .wi-wrapper,
    .body--hero.layout-boxed .wi-wrapper {
        padding-top: 0;
    }
    .body--hero {
        .wi-all {
            margin-top: 0;
        }
    }
    .minimal-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999999;
        
        .hamburger {
            transition: color .25s, background-color .25s, border-color .25s;
        }
    }
    .admin-bar .minimal-header {
        top: 32px;
    }
    
    .min-logo-text {
        display: block;
        font-family: var(--font-heading);
    }
    .minimal-header .min-text-logo {
        font-size: 24px; // so that it won't be affected from logo font size css
    }

    .minimal-header {
            
        &.top-mode {

            .minimal-header-inner {
                justify-content: center; // logo center
            }
            .hamburger {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0,-50%);
                z-index: 9999;
            }
            
            .minimal-logo {
                margin-left: 0;
            }
        }
    }
    .minimal-header-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /* Hero Half
    ------------------------------------ */
    .body--hero--half {
        .minimal-header {
            right: 50%;
        }
        .minimal-header {
            .minimal-logo-img-white {
                display: none;
            }
        }
        // for half we don't need white logo
        .minimal-logo-img-white {
            display: none;
        }
        
    }

    /* Hero Full & Half Dark - Color scheme
    ------------------------------------ */
    .body--hero--full,
    .body--hero--half--dark {
        .minimal-header {
            .minimal-logo-img {
                display: block;
            }
            .minimal-logo-img-white {
                display: none;
            }

            &.top-mode {
                .hamburger,
                .min-text-logo {
                    color: white;
                }
                
                .minimal-logo-img {
                    display: none;
                }
                .minimal-logo-img-white {
                    display: block;
                }
            }
        }

        &.darkmode .minimal-header {
            .minimal-logo-img {
                display: none;
            }
            .minimal-logo-img-white {
                display: block;
            }
        }
        
    }
}

/* 16. sticky header
---------------------------------------------------------------------- */
.masthead--sticky .masthead__wrapper {
    transition: top .6s ease-out;
    position: static;
    top: -400px;
    
    /* this is to solve everything */
    &.before-sticky {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 999;
        background: white;
        border: 0 solid;

        // disable all component borders
        .header56__section,
        .header56__section > .container {
            border: 0;
        }

        .disable--sticky {
            display: none;
        }
    }
    &.is-sticky {
        top: 0;
        // animation: header_sticky_down .6s;
    }
}
.admin-bar .masthead--sticky .masthead__wrapper.is-sticky {
    top: 32px;
}