[class^="ic56-"], [class*=" ic56-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon56' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic56-bluesky-brands-solid:before {
  content: "\e92b";
}
.ic56-quora:before {
  content: "\e905";
}
.ic56-tripadvisor:before {
  content: "\e906";
}
.ic56-medium:before {
  content: "\e907";
}
.ic56-snapchat-square:before {
  content: "\e908";
}
.ic56-snapchat-ghost:before {
  content: "\e909";
}
.ic56-snapchat:before {
  content: "\e90a";
}
.ic56-tiktok:before {
  content: "\e90b";
}
.ic56-chevron-thin-up:before {
  content: "\e90c";
}
.ic56-chevron-small-up:before {
  content: "\e90d";
}
.ic56-chevron-thin-down:before {
  content: "\e90e";
}
.ic56-chevron-small-down:before {
  content: "\e90f";
}
.ic56-caret-right:before {
  content: "\e910";
}
.ic56-caret-left:before {
  content: "\e911";
}
.ic56-caret-up:before {
  content: "\e912";
}
.ic56-caret-down:before {
  content: "\e913";
}
.ic56-envelope:before {
  content: "\e914";
}
.ic56-x:before {
  content: "\e915";
}
.ic56-search:before {
  content: "\e916";
}
.ic56-clear:before {
  content: "\e917";
}
.ic56-menu1:before {
  content: "\e918";
}
.ic56-shopping-bag:before {
  content: "\e919";
}
.ic56-shopping-cart:before {
  content: "\e91a";
}
.ic56-arrow_upward:before {
  content: "\e91b";
}
.ic56-chevrons-up:before {
  content: "\e91c";
}
.ic56-chat_bubble_outline:before {
  content: "\e91d";
}
.ic56-chat_bubble:before {
  content: "\e91e";
}
.ic56-chat:before {
  content: "\e91f";
}
.ic56-link1:before {
  content: "\e920";
}
.ic56-external-link:before {
  content: "\e921";
}
.ic56-link2:before {
  content: "\e922";
}
.ic56-chevron-thin-right:before {
  content: "\e923";
}
.ic56-chevron-thin-left:before {
  content: "\e924";
}
.ic56-heart1:before {
  content: "\e925";
}
.ic56-x-twitter:before {
  content: "\e926";
}
.ic56-mastodon:before {
  content: "\e927";
}
.ic56-threads:before {
  content: "\e928";
}
.ic56-images:before {
  content: "\e929";
}
.ic56-headphones:before {
  content: "\e92a";
}
.ic56-search1:before {
  content: "\e986";
}
.ic56-menu:before {
  content: "\e9bd";
}
.ic56-link:before {
  content: "\e9cb";
}
.ic56-heart:before {
  content: "\e9da";
}
.ic56-cross:before {
  content: "\ea0f";
}
.ic56-play3:before {
  content: "\ea1c";
}
.ic56-amazon:before {
  content: "\ea87";
}
.ic56-google:before {
  content: "\ea88";
}
.ic56-facebook:before {
  content: "\ea90";
}
.ic56-facebook2:before {
  content: "\ea91";
}
.ic56-instagram:before {
  content: "\ea92";
}
.ic56-whatsapp:before {
  content: "\ea93";
}
.ic56-spotify:before {
  content: "\ea94";
}
.ic56-telegram:before {
  content: "\ea95";
}
.ic56-twitter:before {
  content: "\ea96";
}
.ic56-vk:before {
  content: "\ea98";
}
.ic56-sina-weibo:before {
  content: "\ea9a";
}
.ic56-rss:before {
  content: "\ea9b";
}
.ic56-youtube:before {
  content: "\ea9d";
}
.ic56-twitch:before {
  content: "\ea9f";
}
.ic56-vimeo:before {
  content: "\eaa0";
}
.ic56-vimeo2:before {
  content: "\eaa1";
}
.ic56-flickr:before {
  content: "\eaa3";
}
.ic56-dribbble:before {
  content: "\eaa7";
}
.ic56-behance:before {
  content: "\eaa8";
}
.ic56-500px:before {
  content: "\eaab";
}
.ic56-steam:before {
  content: "\eaac";
}
.ic56-github:before {
  content: "\eab0";
}
.ic56-wordpress:before {
  content: "\eab4";
}
.ic56-tumblr:before {
  content: "\eab9";
}
.ic56-yahoo:before {
  content: "\eabb";
}
.ic56-soundcloud:before {
  content: "\eac3";
}
.ic56-soundcloud2:before {
  content: "\eac4";
}
.ic56-skype:before {
  content: "\eac5";
}
.ic56-reddit:before {
  content: "\eac6";
}
.ic56-linkedin:before {
  content: "\eac9";
}
.ic56-linkedin2:before {
  content: "\eaca";
}
.ic56-pinterest:before {
  content: "\ead1";
}
.ic56-pinterest2:before {
  content: "\ead2";
}
.ic56-yelp:before {
  content: "\ead7";
}
.ic56-paypal:before {
  content: "\ead8";
}
.ic56-sun:before {
  content: "\e900";
}
.ic56-moon:before {
  content: "\e901";
}
.ic56-sun1:before {
  content: "\e902";
}
.ic56-moon1:before {
  content: "\e903";
}
.ic56-menu2:before {
  content: "\e904";
}
.ic56-share:before {
  content: "\e92c";
}