@charset "UTF-8";
:root {
  --body-font: georgia, Times, serif;
  --heading-font: Helvetica, Arial, sans-serif;
}

/* post title 
---------------------------------------- */
h1 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.1;
}

.editor-document-bar__title h1 {
  font-family: monospace;
}

/* heading
---------------------------------------- */
h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 2em;
}

h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* post content
---------------------------------------- */
.wp-block-post-content {
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
}
.wp-block-post-content :where(.wp-block):first-child {
  margin-top: 0;
}

/* link
---------------------------------------- */
.wp-block-post-content a {
  color: blue;
}
/* general
---------------------------------------- */
html :where(.wp-block) {
  max-width: 700px;
}

html :where(.wp-block) {
  margin-bottom: 20px;
}

html :where(.wp-block.wp-block-heading) {
  margin-top: 40px;
}

/* image
---------------------------------------- */
figcaption {
  font-family: var(--heading-font);
  font-size: 0.8em;
  color: #777;
}

html :where(.wp-block)[data-align=wide] {
  max-width: 800px;
}
html :where(.wp-block)[data-align=wide] figcaption {
  text-align: center;
}

/* gallery
---------------------------------------- */
html .wp-block-gallery {
  gap: 6px !important;
}

/* blockquote
---------------------------------------- */
blockquote,
.wp-block-freeform.block-library-rich-text__tinymce blockquote {
  font-style: italic;
  padding: 0.15em 1em;
  margin: 1em auto;
  transform: translate(-20px, 0);
  padding-left: 20px;
  border-left: 3px solid;
  font-size: 1.1em;
  line-height: 1.3;
}
blockquote p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
  line-height: inherit;
  font-size: 1em;
}
blockquote cite,
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}
blockquote cite::before,
.wp-block-freeform.block-library-rich-text__tinymce blockquote cite::before {
  content: "—";
  padding-right: 0.6em;
  font-size: 1.2em;
  line-height: 1em;
}

@media only screen and (max-width: 840px) {
  blockquote,
  .wp-block-freeform.block-library-rich-text__tinymce blockquote {
    padding: 0 1em;
    font-size: 1.2em;
  }
}
/* List
---------------------------------------- */
.wp-block-list {
  padding-left: 0;
  list-style: none;
}
.wp-block-list li {
  margin-left: 30px !important;
  margin-bottom: 14px;
  position: relative;
}
.wp-block-list li:before {
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 78px;
  margin-left: -78px;
  text-align: right;
}
.wp-block-list ul,
.wp-block-list ol {
  margin-top: 14px;
}

ul.wp-block-list > li:before {
  padding-top: 4px;
  padding-right: 15px;
  content: "•";
}

ol.wp-block-list {
  counter-reset: post;
}

ol.wp-block-list > li:before {
  padding-right: 12px;
  counter-increment: post;
  content: counter(post) ".";
}

/* Pre/code
---------------------------------------- */
pre,
.wp-block-freeform.block-library-rich-text__tinymce pre {
  background: #f2f2f2;
  font-family: inherit;
  margin-bottom: 2em;
  padding: 1.25em;
  overflow: auto;
  border: 1px solid #E5E5E5;
  background: #F9F9F9;
  white-space: pre;
  font-size: 14px;
  border-radius: 4px;
  font-family: monospace;
}

@media only screen and (max-width: 840px) {
  pre,
  .wp-block-freeform.block-library-rich-text__tinymce pre {
    margin-bottom: 1.25em;
    padding: 1em;
  }
}
code,
.wp-block-freeform.block-library-rich-text__tinymce code {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: inherit;
  padding: 0.15em;
  border-radius: 2px;
}/*# sourceMappingURL=gutenberg-editor.css.map */