@import '../../../../v55/css/lib/bourbon/bourbon';
@import 'select2';
@import 'tooltipster.bundle.min';
@import 'tooltipster-sideTip-shadow.min';
@import 'tooltipster-sideTip-borderless.min';

.foxdocs-link {
    display: block;
    margin: 6px 0 0;
    display: table;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
    line-height: 1;

    i {
        font-size: inherit;
        margin: 0 0 0 4px;
        text-decoration: none;
        line-height: inherit;
    }
}

.customize-control {
    // padding-bottom: 10px;
    // margin-bottom: 10px;
    // border-bottom: 1px solid #ccc;
}
.customize-control .customize-inside-control-row {
    margin-left: 0;
}
#customize-theme-controls{
    height: calc(100% - 16px);
    #sub-accordion-section-h {
        height: 100%;
    }
    .customize-control-fox56_builder {
        min-height: 300px;
        min-height: calc( 100% - 99px );
    }
}

.customize-control-fox56_html {
    padding-bottom: 0;
    border-bottom: 0;
}
.select2-container,
.pcr-app {
    z-index: 999999999999999999999 !important;
}
html .preview-mobile .wp-full-overlay-main {
    margin-top: 10px; // instead of auto, so that we have room for header builder
}
:root {
    --accent-color: #2271b1;
    --accent-light: #e5f3ff;
}
.wp-color-result-text {
    display: none; // yes, why?
}
.colorpicker56 {
    display: block;
}
.colorpicker56__button {
    display: block;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #d0d0d0;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    &:hover {
        border-color:var(--accent-color);
        box-shadow: 0 0 15px rgba(0,0,0,.2);
        // box-shadow: 2px 2px 5px var(--accent-color);
    }
    
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 50%, #ccc 50%, #ccc 75%, transparent 75%, #fff);
    background-size: 5px 5px;
}
.group56__item--color {
    .colorpicker56__button {
        height: 34px;
        width: 34px;
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    margin: -6px -2px 0;
}
.col {
    display: block;
    flex: none;
    padding: 6px 2px 0;
    box-sizing: border-box;

    input,
    select {
        max-width: 100%;
    }
}
.col-1-1 {
    width: 100%;
}
.col-1-2 {
    width: 50%;
}
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-4 {
    width: 25%;
}
.col-3-4 {
    width: 75%;
}
.col-1-5 {
    width: 20%;
}
.col-2-5 {
    width: 40%;
}
.col-3-5 {
    width: 60%;
}
.col-4-5 {
    width: 80%;
}
.col-1-6 {
    width: 16.66%;
}
.col-5-6 {
    width: 83.33%;
}

#customize-theme-controls>ul>li .panel-title:before,
#customize-theme-controls>ul>li>h3:before {
    font-family: Dashicons;
    font-size: 20px;
    font-weight: thin!important;
    left: -2px;
    line-height: 0;
    opacity: .6;
    position: relative;
    top: -1px;
    vertical-align: middle;

    position: absolute;
    top: 22px;
    left: 4px;
}
ul.customize-pane-parent>li >.accordion-section-title > button.accordion-trigger {
    padding-left: 30px;
}
#accordion-section-title_tagline .section-title:before,
#accordion-section-title_tagline>h3:before {
    content: "\f11f";
}
#accordion-section-static_front_page .section-title:before,
#accordion-section-static_front_page>h3:before {
    content: "\f108";
}
#accordion-panel-header .panel-title:before,
#accordion-panel-header>h3:before {
    content: "\f342";
}
// builder
#accordion-section-h2 .section-title:before,
#accordion-section-h2>h3:before {
    content: "\f102";
}
// builder
#accordion-section-h2 .accordion-section-title,
#accordion-section-h2 .accordion-section-title > button {
    text-transform: uppercase;
    background: #ffffea;
}
#accordion-section-builder_settings .section-title:before,
#accordion-section-builder_settings>h3:before {
    content: "\f108";
}
#accordion-panel-blog .panel-title:before,
#accordion-panel-blog>h3:before {
    content: "\f509";
}
#accordion-panel-single .panel-title:before,
#accordion-panel-single>h3:before {
    content: "\f497";
}
#accordion-section-page .section-title:before,
#accordion-section-page>h3:before {
    content: "\f498";
}
#accordion-panel-footer .panel-title:before,
#accordion-panel-footer>h3:before {
    content: "\f346";
}
#accordion-section-typography_general .panel-title:before,
#accordion-section-typography_general>h3:before {
    content: "\f210";
}
#accordion-panel-design .panel-title:before,
#accordion-panel-design>h3:before {
    content: "\f100";
}
#accordion-panel-nav_menus .panel-title:before,
#accordion-panel-nav_menus>h3:before {
    content: "\f333";
}
#accordion-panel-widgets .panel-title:before,
#accordion-panel-widgets>h3:before {
    content: "\f480";
}
#accordion-section-performance .section-title:before,
#accordion-section-performance>h3:before {
    content: "\f311";
}
#accordion-section-social .section-title:before,
#accordion-section-social>h3:before {
    content: "\f237";
}
#accordion-section-misc .section-title:before,
#accordion-section-misc>h3:before {
    content: "\f111";
}
#accordion-section-translation .section-title:before,
#accordion-section-translation>h3:before {
    content: "\f326";
}
#accordion-section-custom_css .section-title:before,
#accordion-section-custom_css>h3:before {
    content: "\f540";
}
#accordion-panel-woocommerce .panel-title:before,
#accordion-panel-woocommerce>h3:before {
    content: "\f174";
}
#accordion-section-export .section-title:before,
#accordion-section-export>h3:before {
    content: "\f321";
}

/* ORDINARY
============================================================================== */
#customize-controls .description {
    /* margin: 0 0 10px;
    display: block;
    line-height: 1.2;
    */
    pre {
        margin: 10px 0;
        display: block;
        background: #e0e0e0;
        padding: 4px;
        font-size: 14px;
        line-height: 1.3;
        border: 1px dashed #aaa;
    }
}

.customize-control-fox56_textarea textarea {
    width: 100%;
    resize: vertical;
}

.multichecbox56 {
    overflow: hidden;
}
.multichecbox56 > label {
    display: block;
    float: left;
    width: 50%;
    margin: 0 0 5px;
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, .wp-core-ui select {
    border-color: #d0d0d0;
    height: 36px;
}
textarea {
    border-color: #d0d0d0;
}

#customize-controls {
    input[type="checkbox"] {

        appearance: none;
        background: #fff;
        border: 1px solid #d0d0d0;
        border-radius: 2px;
        box-shadow: 0 0 0 #0000;
        clear: none;
        color: #1e1e1e;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
        font-size: 16px;
        height: 20px;
        width: 20px;
        line-height: normal;
        line-height: 0;
        margin: 0 4px 0 0;
        outline: 0;
        padding: 6px 8px;
        padding: 0 !important;
        text-align: center;
        transition: box-shadow .1s linear;
        transition: none;
        transition: border-color .1s ease-in-out;
        vertical-align: top;

        position: relative;

        &:before {
            content: '\2713';
            position: absolute;
            top: 0;
            left: 0;
            -webkit-user-select: none;
            user-select: none;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 16px;
            font-size: 16px;
            margin: 0;
            color: white;
            padding: 0;

            display: none;
        }

        &:checked {
            background: var(--accent-color);
            border-color: var(--accent-color);

            &:before {
                display: block;
            }
        }
        
    }
}

#customize-controls h3 {
    font-weight: 400;
}

#customize-controls {
    input[type=radio] {
        appearance: none;
        border: 1px solid #d0d0d0;
        border-radius: 2px;
        border-radius: 50%;
        box-shadow: 0 0 0 #0000;
        cursor: pointer;
        display: inline-flex;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
        font-size: 16px;
        height: 24px;
        line-height: normal;
        margin: 0 8px 0 0;
        max-width: 24px;
        min-width: 24px;
        padding: 0;
        transition: box-shadow .1s linear;
        transition: none;
        width: 24px;
        position: relative;
    }
    input[type=radio]:checked {
        background: var(--accent-color);
        &:before {
            content: "";
            border-radius: 50%;
            background-color: #fff;
            border: 4px solid #fff;
            box-sizing: inherit;
            height: 8px;
            margin: 0;
            transform: translate(7px, 7px);
            width: 8px;
        }
    }
}

/* RADIO IMAGE
============================================================================== */
.customize-control-fox56_radio_image {
    label {
        width: 30%;
        display: inline-block;
        margin: 0 3px 3px 0;
    }
    input[type="radio"] {
        display: none !important;
    }
    img {
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        opacity: .7;
    }
    label:hover img {
        opacity: 1;
        border-color: #1679b7;
    }
    input:checked + img {
        opacity: 1;
        border-color: #1679b7;
        box-shadow: 0 2px 6px rgba(0,0,0,.5);
    }
}
.customize-control-fox56_radio_image .customize-control-label {
    display: block;
    margin: 0;
    width: auto;
}
.customize-control-fox56_checkbox input[type="checkbox"] {
    display: block;
    margin-top: 6px;
}
.customize-control-fox56_radio label {
    display: block;
    margin: 0 0 8px;
}

/* BUILDER
============================================================================== */
.builder56__actions {
    margin: 0 0 10px;
}
.builder56__import {
    display: none;
    span {
        display: block;
    }
}

.sep--builder,
.sep--customizer {
    font-weight: normal;
    margin-bottom: 14px;
    border-bottom: 1px solid #999;
    font-size: 24px;
    padding-bottom: 10px;
    font-family: Times, Georgia, serif;
}
.sep--message {
    margin: 10px 0;
    display: block;
    background: #fffde3;
    // color: #023c73;
    padding: 10px;
    font-size: 14px;
    line-height: 1.3;
    a {
        // text-decoration: underline;
        // font-weight: bold;
        &:hover {
            text-decoration: none;
        }
    }
}
#sub-accordion-section-wi_homepage_builder {
    overflow: visible;
}
.builder-sectionlist {
    display: none;
}
.section56__content {
    display: none;
}

/* Layout
--------------------------- */
.section56 {
    
    & + .section56,
    & + .sortable-placeholder {
        margin-top: 10px;
    }

    box-shadow: 1px 3px 6px rgba(0,0,0,.15);

    background: white;
    border: 1px solid #ccd0d4;
    
    position: relative;
    z-index: 0;

    &[data-id="section__placeholder"] {
        display: none;
    }
}
.section56__description {
    padding: 10px;
    p {
        margin: 0;
        padding: 8px;
        font-size: 12px;
        line-height: 1.5;
        background: #f0f0f0;
        border-radius: 1px;
    }
}
.sortable-placeholder {
    border: 1px dashed #9cbdd0;
    background: #e9f1f6;
    height: 40px;
    display: block;
}

/* Section top
--------------------------- */
.section56__name {
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    
    cursor: move;
    
    height: 54px;
    line-height: 54px;
    position: relative;

    &.section56__field {
        padding: 0;
        border-bottom: 1px solid #ccd0d4;
        border-top: 0;
    }
    
    &:hover {
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    
    // the cover
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        content: "";
        display: block;
    }
    &.inedit:before {
        display: none;
    }
}
.section56__action-menu__btn {
    display: block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    color: #333;
    
    i {
        display: block;
        width: auto;
        height: auto;
        line-height: inherit;
        margin: 0;
    }
}
.section56__action-menu {
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        display: none;
        
        position: absolute;
        top: 100%;
        left: -1px;
        width: 200px;
        background: white;
        z-index: 10;
        border: 1px solid #999;
        box-shadow: 0 10px 10px rgba(0,0,0,.1);
        
        &:before,
        &:after {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #fff transparent;
            
            display: block;
            position: absolute;
            left: 20px;
            top: -9px;
            z-index: 20;
            content: "";
        }
        &:after {
            border-color: transparent transparent #777 transparent;
            left: 20px;
            top: -10px;
            z-index: 10;
        }
        
        a {
            display: block;
            color: #333;
            padding: 0 16px;
            line-height: 40px;
            text-decoration: none;
            outline: 0;
            border: 0;
            
            &:hover {
                color: #007cba;
            }
        }
        .section56__delete {
            color: red;
            &:hover {
                color: red;
            }
        }
        
    }
    li {
        display: block;
        margin: 0;
    }
}
.section56__name_icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 54px;
    width: 40px;
    line-height: 54px;
    text-align: center;
    font-size: 16px;
    i {
        display: block;
        line-height: inherit;
        text-align: center;
        width: auto;
        height: auto;
    }
    
    .dashicons-arrow-up {
        display: none;
    }
}
.section56.active {
    .dashicons-arrow-up {
        display: block;
    }
    .dashicons-arrow-down {
        display: none;
    }
}
#customize-controls .section56__name__input {
    margin: 0;
    border: 1px solid transparent;
    background: none;
    box-shadow: none;
    outline: 0;
    width: 100%;
    padding: 0 40px 0 54px;
    line-height: 54px;
    cursor: inherit;
}
#customize-controls .section56__name.inedit .section56__name__input {
    background: #ffd;
    box-shadow: 0 0 10px #98a2ad;
    cursor: auto;
    font-weight: 400;
}

/* tabs
================================ */
.section56__tabs {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        position: relative;
        padding: 5px 5px 0;
        
        &:before {
            position: absolute;
            content: "";
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px solid #aaa;
            z-index: 1;
        }
    }
    li {
        display: block;
        float: left;
        margin: 0;
    }
    a {
        display: block;
        margin: 0;
        text-decoration: none;
        padding: 12px 3px;
        color: inherit;
        font-weight: 400;
        border: 1px solid transparent;
        position: relative;
        z-index: 20;
        margin-bottom: -1px;
        color: #999;
        outline: 0;

        cursor: pointer;
        
        &:hover {
            color: black;
        }
        &:focus {
            box-shadow: 0 0 0 1px #4f94d4, 0 0 2px 1px rgba(79,148,212,.8);
        }
    }
    .active > a {
        border-color: #aaa #aaa white #aaa;
        background: white;
        color: black;

        cursor: default;
    }
}
.hide--sectiontab {
    display: none;
}

/* inner tabs
--------------------------- */
.section56__inner-tabs,
.tabs56 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    border: 1px solid #d0d0d0;
    a {
        cursor: pointer;
        display: block;
        padding: 0 15px;
        font-size: 14px;;
        line-height: 36px;
        border-bottom: 2px solid transparent;

        &:hover {
            opacity: 1;
            background: var(--accent-light);
        }
    }
    a.active {
        // opacity: 1;
        color: #111;
        border-bottom-color: #111;
        // border-bottom-color: var(--accent-color);
    }
}
.hide--innertab {
    display: none;
}

/* conditional
--------------------------- */
.hide--condition {
    display: none;
}

/* section field
--------------------------- */
.section56__fields {
    padding: 10px;
}
.section56__field {
    border-bottom: 1px solid #d0d0d0;
    padding: 14px 0;

    textarea {
        width: 100%;
        height: 60px;
    }
}
.section56__field--html {
    padding: 0;
    border: 0;
    margin-bottom: -1px;
}
.section56__field__name {
    margin: 0 0 5px;
}
.section56__field__description {
    line-height: 1.4;
    color: #777;
    margin: 5px 0 0;
    small {
        display: block;
    }
}

/* sortable
================================ */
.section56__field--sortable .sortable-placeholder {
    // width: 80px;
    // display: inline-block;
}
.com-item {
    display: block;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 2px 18px 0;
}
.com-item--inline {
    display: inline-block;
}
.com-item__main {
    display: block;
    vertical-align: middle;
    padding: 4px 2px;
    text-align: center;
    background: whitesmoke;

    i {
        display: none;
        font-size: 14px;
    }
    
    i,
    span {
        color: #aaa;
    }
    &:hover {
        i, span {
            color: #777;
        }
    }
    input {
        display: none;
    }
    input:checked ~ i {
        color: var(--accent-color);
    }
    input:checked + span {
        color: var(--accent-color);
    }
}
.com-item_devices {
    display: flex;
    text-align: center;
    border-top: 1px solid #c0c0c0;
    > label {
        display: block;
        width: 33.3%;
        padding: 2px 0px;
        font-size: 12px;
        input {
            display: none;
        }
        i {
            color: #ccc;
            font-size: 12px;
            line-height: 1.5;
        }
        &:hover {
            i {
                color: #aaa;
            }
        }
        input:checked + i {
            color: var(--accent-color);
        }
    }
    > label + label {
        border-left: 1px solid #c0c0c0;
    }
}

/* radio image
================================ */
.section56__field--radio_image {
    label {
        display: inline-block;
        margin: 0 4px 4px 0;
        width: 70px;
    }
    input {
        display: none;
    }
    img {
        display: block;
        width: 100%;
        border: 1px solid #e0e0e0;
        transition: all .1s ease-out;
        border-radius: 4px;
        opacity: .7;
    }
    label:hover img {
        opacity: 1;
        border-color: #c0c0c0;
    }
    input:checked + img {
        opacity: 1;
        border-color: #08c;
        box-shadow: 0 2px 5px rgba(0,0,0,.6);
    }
}

/* image
================================ */
.uploader56 {
    display: block;
}
.uploader56__image {
    padding: 16px;
    position: relative;
    background: #f4f9fd;
    border: 2px dashed #a1bdc9;

    img {
        display: block;
        height: auto;
        // border: 1px solid #ccc;
        // box-shadow: 0 0 4px rgba(0,0,0,.1);
    }
}
.uploader56__image__remove {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 3px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 24px;
    background: white;
    border-radius: 50%;
    color: #777;
    z-index: 20;
    display: none;

    color: black;
    box-shadow: 0 0 10px #999;
    font-family: sans-serif;
}
.uploader56__image > img + .uploader56__image__remove {
    display: block;
}
.uploader56 .uploader56__button {
    margin: 10px 0 0;
    line-height: 36px;
    font-size: 14px;
    border-radius: 1px;
}

/* HEADER BUILDER
============================================================================== */
#customize-control-header_presets_layout{
    label{
        width: 100%;
        display: block;
        margin: 15px 3px;
    }
}
.hb56 {
    z-index: 99999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: #232634;
    color: white;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    border-top: 1px solid #ccc;
    transform: translate(0,110%);
    transition: all .2s ease-out;

    &.active {
        transform: translate(0,0);   
    }
}
.collapsed {
    .hb56,
    .hb56.active {
        transform: translate(0,110%);
    }
}
.hb56--mobile {
    display: none;
}
.preview-mobile,
.preview-tablet {
    .hb56--mobile {
        display: block;
    }
    .hb56--desktop {
        display: none;
    }
}
.hb56__wrapper {
    padding: 10px;
}
.hb56__section {
    position: relative;
    border: 2px solid transparent;
    &:hover {
        border-color: var(--accent-color);
    }
    .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .col {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.hb56__section + .hb56__section {
    margin-top: 5px;
}
.hb56__name {
    position: absolute;
    top: -22px;
    left: 0;
    z-index: 30;
    display: block;
    height: 24px;
    text-align: center;
    line-height: 24px;
    padding: 0 4px;
    background: #a53e21;
    color: white;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    align-content: center;

    opacity: 0;
    visibility: hidden;
    transform: translate(0,5px);
    transition: all .4s ease-out;
    
    i {
        margin: 0;
        padding: 0;
        margin-right: 2px;
        font-size: 14px;
        height: 24px;
        line-height: 24px;
    }
}
.hb56__section:hover .hb56__name {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}
.col-0-1 {
    width: 0;
    display: none;
}
.col--left {
    text-align: left;
}
.col--center .hb56__part{
    text-align: center;
    justify-content: center;
}
.col--right .hb56__part {
    text-align: right;
    justify-content: flex-end;
}
.hb56__part {
    background: rgba(0,0,0,.3);
    border: 2px dashed #535b82;
    min-height: 26px;
    padding: 10px;
    line-height: 0;
}
.hb56__topbar .hb56__part,
.hb56__bottom .hb56__part {
    padding: 4px 10px;
}
.hb56__elements {
    padding: 10px;
    min-height: 32px;
    background: rgba(0,0,0,.3);
    border-top: 1px solid #535b82;
    .hb56__element {
        opacity: .7; // when not in use
    }
    .rm{ display: none;}
}
.hb56__element {
    position: relative;
    display: inline-flex;
    user-select: none;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px 0 0;
    color: #2271b1;
    border: 1px solid #1e425f;
    background: #4d789c;
    color: white;
    cursor: pointer;
    transition: all .1s ease-out;

    &:hover {
        // background: #f0f0f1;
        // border-color: #0a4b78;
        // color: #0a4b78;
    }

    i {
        display: block;
        line-height: 24px;
        height: 24px;
        width: 24px;
        background: #59758d;
        color: #fff;
        border-right: 1px solid #829fb6;
        transition: all .1s;
        &:hover {
            background-color: #3d4c59;
            color: white;
        }
        &.rm{
            position: absolute;
            top: -8px; right: -8px;
            height: 16px; 
            width: 16px; 
            line-height: 16px;
            border: 0;
            background: rgba(0,0,0,.3);
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            font-family: sans-serif;
            &:hover {
                background: #cc1f1f;
                color: white;
            }
        }
    }
    span {
        padding: 0 8px;
        cursor: move;
    }
}
.hb56 .sortable-placeholder {
    background-color: rgba(0,0,0,.3);
    border: 1px dashed #0a4b78;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 0 10px 0 0;
    border-radius: 4px;
}

/* SINGLE BUILDER
============================================================================== */
/*
#accordion-section-single_overview > h3,
#accordion-section-footer_overview > h3 {
    font-size: 18px;
    color: #176471 !important;
    background: #eefaff !important;
    line-height: 1.2;
}
.sortable56__custom_title {
    border-bottom: 1px solid #ddd;
    margin: 0;
    font-size: 16px !important;
    display: flex;
    align-items: center;
    > a {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-right: 1px solid #ddd;
        cursor: pointer;
        color: #999;
        &:hover {
            color: var(--accent-color);
            background-color: var(--accent-light);
        }
        i {
            display: block;
            line-height: inherit;
            width: auto;
            height: auto;
            font-size: 17px;
        }
    }
    > span {
        display: block;
        line-height: 36px;
        margin-left: 10px;
    }
}
#customize-theme-controls #sub-accordion-section-single_overview,
#customize-theme-controls #sub-accordion-section-footer_overview {
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    a {
        text-decoration: none;
    }
    > li:nth-child(n+3) {
        border: 1px solid #eee;
        border-radius: 2px;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

        .customize-control-title {
            margin: 0;
        }
        .sortable56 {
            padding: 8px;
        }

        .sortable56__label {
            display: none;
        }
        .sortable-placeholder {
            display: inline-block;
            margin: 0 5px 7px 0;
            line-height: 24px;
            height: 24px;
            width: 40px;
            border-radius: 4px;
            vertical-align: middle;
        }
        .sortable56__element {
            vertical-align: middle;
            display: inline-flex;
            align-items: center;
            margin: 0 5px 7px 0;
            border-radius: 2px;
            border: 1px solid #ddd;
            cursor: move;
            opacity: 1;
            line-height: 24px;
            color: #007cba;
            line-height: 22px;
            height: 24px;
            color: #777;
            background: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
            font-family: sans-serif;
            padding: 0;

            .sortable56__element__name {
                padding: 0 6px;
                display: block;
            }

            a {
                display: block;
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 16px;
                border-right: 1px solid #ddd;
                &:hover {
                    background-color: var(--accent-light);
                }
                i {
                    line-height: inherit;
                    width: auto;
                    height: auto;
                    font-size: inherit;
                }
            }

            .x {
                transform: none;
                opacity: 0;
                visibility: hidden;
            }
            &:hover .x {
                transition: none;
                opacity: 1;
                visibility: visible;
            }

            &:hover {
                transform: none;
                background-color: #f0f0f0;
                box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
            }
        }
        .sortable56__table,
        .sortable56__elements {
            padding: 0;
            border: 0;
        }

        .sortable56__table {
            .sortable56__element {
                color:#007cba;
            }
        }
        .sortable56__elements {
            border-top: 1px solid #ddd;
            margin-top: 10px;
            padding-top: 10px;
            

            .sortable56__element {
                opacity: .6;
                .x {
                    display: none;
                }
                a {
                    color: inherit;
                }
            }
        }
    }
}
    */

/* SORTABLE
============================================================================== */
.sortable56 {
    padding-top: 20px;
    .sortable-placeholder {
        width: 100%;
        height: 28px;
        border-radius: 0;
        display: block;
        border: 1px dashed #95c3db;
        background: rgb(226, 237, 240);
    }
}
.reorder_only {
    .sortable56__elements,
    .sortable56__label,
    .x {
        display: none !important;
    }    
}
.sortable56__label {
    position: absolute;
    // background: #999;
    // color: white;
    z-index: 99;
    top: -18px;
    left: 0;
    line-height: 18px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    // border-radius: 1px 1px 0 0;
}
.sortable56__table {
    padding: 8px;
    position: relative;
    background: white;
    border: 2px dashed #c1d8ed;
}
.sortable56__element {
    display: block;
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    cursor: move;
    text-align: left;
    margin: 0 auto;
    position: relative;

    background-color: #eaeaea;
    color: #444;

    &:hover {
        background: #d0d0d0;
        color: #111;
        transform: scale(1.02);
    }
    .x {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        right: 5px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        color: #333;
        transition: all .15s ease-out;
        font-size: 24px;
        cursor: pointer;
        font-family: sans-serif;

        width: 16px;
        height: 16px;
        top: -8px;
        right: -8px;
        border-radius: 50%;
        background: #e0e0e0;
        color: #666;
        font-size: 16px;
        line-height: 16px;
        z-index: 99;
        
        &:hover {
            color: red;
        }
    }
}
.sortable56__element--inline {
    display: inline-block;
    margin-right: 5px;
}
.sortable56__element + .sortable56__element {
    margin-top: 5px;
}
.sortable56__element + .sortable-placeholder,
.sortable-placeholder + .sortable56__element {
    margin-top: 5px;
}
.sortable56__elements {
    position: relative;
    margin: 30px 0 0;
    background: white;
    border: 1px dashed #ddd;
    padding: 8px;

    .sortable56__element {
        opacity: .5;
    }
}

/* OPTION HINTS
============================================================================== */
.ui-autocomplete {
    z-index: 999999;
    border: 1px solid #e0e0e0;
    box-shadow: 3px 5px 20px rgba(0,0,0,.3);
    
    li {
        border: 0;
        margin: 0;
        padding: 0;
    }
    .ui-menu-item-wrapper {
        padding: 6px 12px;
        text-transform: capitalize;
        color: #444;

        &.ui-state-active {
            border: 1px solid var(--fox-accent);
            border-left-color: #c5c5c5;
            border-right-color: #c5c5c5;
            background: var(--fox-accent);
            font-weight: normal;
            color: white;
        }
    }
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border-color: transparent;
    background: #f0f0f0;
    margin: 0;
    border: 0;
}

#customize-header-actions .goto {
    position: absolute;
    height: 45px;
    border: 0;
    border-radius: 0;
    outline: 0;
    z-index: 0;
    background: transparent;
    top: 0;
    left: 45px;
    right: 100px;
    width: calc(100% - 165px);
    // box-shadow: 0 0 7px #08c;
    // background: beige;
    
    transition: all .1s ease-out;
    
    top: 5px;
    bottom: 5px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1px;
    background: white;
    
    @include placeholder {
        color: #999;
        opacity: 1;
    }
    
    &:focus {
        right: 1px;
        width: calc(100% - 20px);
        outline: 0;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, .1);
        background: white;
        z-index: 999;
        left: 10px;
        right: 10px;
        border-color: #ccc;
        
        @include placeholder {
            color: #999;
            opacity: 1;
        }
    }
}

body {
    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
        background: #2271b1;
        color: #fff;
    }
}